body {
	background-color: beige;
	margin: 0;
	padding: 3%; 
}

html, main, header {
	margin: 0;
}

table {
	border: 1px solid black;
	color: darkmagenta;
}

th, td {
	border: 1px solid black;
	padding: 5px
}

.boite {
	margin : 10px, 0px;
    padding: 10px;
    border : 10px solid orange;
    width : 90%;
    height : 32px;
}

nav {
	border: 2px solid black;
	width: 25%;
}


nav ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	width: 25%;
	/*background-color: #f1f1f1;
	position: fixed;
	height: 100%;
	overflow: auto;*/
}

li a {
	display: block;
	color: #000;
	padding: 8px 16px;
	/*text-decoration: none;*/
}
  
/*li a.active {
	background-color: #4CAF50;
	color: white;
}*/
  
/*li a:hover:not(.active) {
	background-color: #555;
	color: white;
}*/